extends layout

block content

  main(id="main")

    div(id="searchdesktop")
      h1(id="joinin" class="center") JOIN IN
      h5(class="center") start by searching for your school below

      div(class="section")
        form(id="search1")
          div(id="search2" class="input-field")
            input(id="search3" type="search" required)
            label()
              button(onclick="findBySchool()" name="btn_login" class="btn-large waves effect center" style="background-color:#009933; margin-top:-2%; width:30%;") Search
            i(class="material-icons")
