extends layout

block content

  main(id="main")

    div(id="searchdesktop")
      h1(id="joinin" class="center") JOIN IN
      h5(class="center") start by searching for your school below

      div(class="section")
        form(id="search1")
          div(id="search2" class="input-field")
            input(id="search3" type="search" required)
            label()
              i(id="search4" class="material-icons") search
            i(class="material-icons")
