body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#searchdesktop {
    z-index: -1;
    height: 400px;
    width: auto;
    background-color: white;
}
#searchmobile {
    visibility: hidden;
    z-index: 1;
}

#search1 {
    width: 95%;
    padding-left: 5%;
}

#search2 {
    height: 60px;
    background-color: #f3f3f3;
    bottom-border: none;
}

#search3 {
    height: 60px;
    width: 85%;
    font-size: 45px;
    text-align: left;
    background-color: #f3f3f3;
    border-bottom: none;
}

#search4 {
    font-size: 40px;
}
